.ive.columns.centered.catch
  %h1.tcenter.sin
    Task - Trackr
.row
  .seven.columns.centered.tcenter.catch
    %h4.sin
      A dropdead simple way to organize your task list based on where they are.

.spacer
