<footer class="row">
  <div class="twelve columns">
    <hr />
    <div class="row">
      <div class="six columns">
        <p>Made with care by
          <a href='http://www.nickblanchet.com'><span class='sig'>Nick Blanchet</span>
          </a>
        </p>
      </div>
      <div class="six columns">
        <ul class="link-list right">
          <li><a href="http://twitter.com/h55nick">Twitter</a></li>
          <li><a href="http://github.com/h55nick">Github</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
